{% extends "app/sitelayout/basiclayout.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Dan's Dissertation</h1>
    <p class="lead">This application is a prototype which is built to host a number of continuing professional development materials regarding information security</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            In order to participate in this study; users must first login to the site. 
        </p>
    </div>
</div>
{% endblock %}